.nav-lower-section {
    border-bottom: 1px solid #d8d8d8;
}

.user-wrapper {
    background-color: #e4e4e4;
    height: calc(100vh - 120px);
    overflow: auto;
}
.content-wrapper{
  background-color: #e4e4e4;
}

i#far-edit {
    margin-left: 16px;
}

.user-name {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 29px 30px 27px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.logout{
  margin-top: 300px;
}
.user-detail {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    border: none;
    margin-bottom: 1px;
    background-color: #fff;
    padding: 15px 30px;
}

.user-detail>i{
    float: right;
    margin-top: 2px;
}
