* {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}

a#menu {
    text-decoration: none;
    display: none;
}

#header {
    height: 80px;
    background-color: white;
    border-bottom: 1px solid slategray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#lg1 {
    margin: 10px;
    float: left;

}

#lg3 {
    margin: 30px;
    float: right;
}

#searchbox {
    margin: 30px 0 0 100px;
    float: left;
}

.content {
    margin: 150px auto 40px;
    padding: 20px;
    height: 100%;
    width: 700px;
    border: 1px solid black;
    font-weight: bold;

}

.top {

}

.user {
    font-size: 20px;
    float: left;
    margin-left: 10px;

}

.date {

    left: 500px;
    float: right;
    margin-right: 10px;
}

.usertext {

    width: 100%;
    float: left;

}

.instaicon {
    width: 99%;
}

.like {
    margin-left: 10px;
}

.comment {
    margin-left: 10px;
    font-size: 13px;
}

.commentin {
    border: none;
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin-left: 10px;
}

#commentin::-webkit-input-placeholder {
    font-size: 15px;
}

.comment2 {
    width: 96%;
    margin: 0 auto 20px;
    border: 1px solid black;
}

@media screen and (max-width: 568px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {
    #header {
        display: none;
    }

    a#menu {
        display: inline;
    }

    #header:target {
        display: inline;
    }

    .content {
        width: auto;
        float: none;
        min-height: 200px;
        margin-bottom: 10px;
    }
}










