<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/join.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
		<div class="wrapper" style="background:url('../assets/img/bg.png');   background-color: #002958;">
		<div class="user-img">
			<div class="join title">회원가입</div>
		</div>
		<form action="" method="post">
      <div class="icon_id"><img src="../assets/img/icon_id.png" style="width:20px" ><input type="text" name="ID" class="username" placeholder="ID" style="color: #999999;"></div>
      <div class="icon_pwd_"><img src="../assets/img/icon_pwd.png" style="width:20px"><input type="password" name="password" class="password" placeholder="Password"></div>
			<div class="icon_pwd2_"><img src="../assets/img/icon_pwd.png" style="width:20px"><input type="password" name="password" class="password" placeholder="Confirm Password"></div>
		</form>
	<button class="join_button login">회원가입</button>
  	<button class="login_button">로그인하기</button>

	</div>

</body>
</html>
