<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/search-only.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/search.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
<nav>
    <div class="nav-upper-section">
        <img src="../assets/img/logo1.PNG">
        <div class="nav-upper-button-wrap">
            <button class="write">
                <img src="../assets/img/write.png">
            </button>
            <button>
                <img src="../assets/img/user.png">
            </button>
        </div>
    </div>
    <div class="nav-lower-section">
        <div class="nav-lower-button-wrap">
            <button class="btn-selected">내가 쓴 글</button>
            <button>저장한 글</button>
            <button>알림</button>
            <button>설정</button>
        </div>
    </div>
</nav>

<div class="content-wrapper">
            <!--SINGLE ELEMENT-->
    <div class="content-element">
        <div class="content-preview">
            <div class="content-preview-title">
                강남역 인근 <span class="search-text">주말 주차 장소</span> 추천
            </div>
            <div class="content-preview-text">
                서울에 차 끌고 가기 막막한 곳으로 손꼽히는 강남!
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
            </div>
            <div class="content-preview-timestamp">자색호랑나비 09.15</div>
        </div>
        <div class="content-hashtag">#강남 #주차 #주말 #외출 </div>
        <div class="content-reply">
            <img src="../assets/img/comment.png"> 10
        </div>
    </div>
            <!--SINGLE ELEMENT-->
    <div class="content-element">
        <div class="content-preview">
            <div class="content-preview-title">
                강남역 인근 <span class="search-text">주말 주차 장소</span> 추천
            </div>
            <div class="content-preview-text">
                서울에 차 끌고 가기 막막한 곳으로 손꼽히는 강남!
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
            </div>
            <div class="content-preview-timestamp">자색호랑나비 09.15</div>
        </div>
        <div class="content-hashtag">#강남 #주차 #주말 #외출 </div>
        <div class="content-reply">
            <img src="../assets/img/comment.png"> 10
        </div>
    </div>
            <!--SINGLE ELEMENT-->
    <div class="content-element">
        <div class="content-preview">
            <div class="content-preview-title">
                강남역 인근 <span class="search-text">주말 주차 장소</span> 추천
            </div>
            <div class="content-preview-text">
                서울에 차 끌고 가기 막막한 곳으로 손꼽히는 강남!
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
            </div>
            <div class="content-preview-timestamp">자색호랑나비 09.15</div>
        </div>
        <div class="content-hashtag">#강남 #주차 #주말 #외출 </div>
        <div class="content-reply">
            <img src="../assets/img/comment.png"> 10
        </div>
    </div>
</div>

</body>
</html>