<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/newsFeed.css">
    <meta charset="UTF-8">
    <title>TMI_Example</title>
</head>
<body>
<nav>
    <div class="nav-upper-section">
        <img src="../assets/img/logo1.PNG">
        <div class="nav-upper-button-wrap">
            <button>홈</button>
            <button>글쓰기</button>
            <button>MY</button>
        </div>
    </div>
    <div class="nav-lower-section">
        <div class="nav-lower-button-wrap">
            <button>내 글</button>
            <button>저장한 글</button>
            <button class="btn-selected">새소식</button>
            <button onclick="routeByBtn('setting')" type="button">설정</button>
        </div>
    </div>
</nav>
<div class="content-wrapper" id="newsFeed">
    <div class="newsFeed-content">
        <div class="content-title">
            <img src="../assets/img/newsFeed.png">
            컨텐츠 제목
        </div>
        <div class="content-preview">
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
        </div>
        <div class="content-timestamp">
            9.13
        </div>
    </div>

    <div class="newsFeed-content">
        <div class="content-title">
            <img src="../assets/img/newsFeed.png">
            컨텐츠 제목
        </div>
        <div class="content-preview">
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
        </div>
        <div class="content-timestamp">
            9.13
        </div>
    </div>


    <div class="newsFeed-content">
        <div class="content-title">
            <img src="../assets/img/newsFeed.png">
            컨텐츠 제목
        </div>
        <div class="content-preview">
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
        </div>
        <div class="content-timestamp">
            9.13
        </div>
    </div>


    <div class="newsFeed-content">
        <div class="content-title">
            <img src="../assets/img/newsFeed.png">
            컨텐츠 제목
        </div>
        <div class="content-preview">
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
        </div>
        <div class="content-timestamp">
            9.13
        </div>
    </div>


    <div class="newsFeed-content">
        <div class="content-title">
            <img src="../assets/img/newsFeed.png">
            컨텐츠 제목
        </div>
        <div class="content-preview">
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
            미리보기텍스트가이만큼
        </div>
        <div class="content-timestamp">
            9.13
        </div>
    </div>
</div>

</body>


</html>



<script rel="script" type="text/javascript" src="../assets/js/routeByButton.js">
</script>