<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/notice.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
<nav>
    <div class="nav-upper-section">
        <img src="../assets/img/logo1.PNG">
        <div class="nav-upper-button-wrap">
            <button class="write">
                <img src="../assets/img/write.png">
            </button>
            <button>
                <img src="../assets/img/user.png">
            </button>
        </div>
    </div>
    <div class="nav-lower-section">
        <div class="nav-lower-button-wrap">
            <button >내 글</button>
            <button>저장한 글</button>
            <button>새소식</button>
          <button class="btn-selected">설정</button>
        </div>
    </div>
</nav>
<div class="content-wrapper">
    <div class="notice-title-section">
        <div class="notice-title">공지사항 제목</div>
        <div class="notice-subtitle">자색호랑나비<span>2018. 10. 13. 11:32</span></div>
    </div>
    <div class="notice-content">
        서울에 차 끌고 가기 막막한 곳으로 손꼽히는 강남! 모르면 손해보는 강남역, <br/>신논현역 인근 주말 주차꿀팁 01.부티끄모나코 주차장
        서울에 차 끌고 가기 막막한 곳으로 손꼽히는 강남! 모르면 손해보는 강남역, <br/>신논현역 인근 주말 주차꿀팁 01.부티끄모나코 주차장
        서울에 차 끌고 가기 막막한 곳으로 손꼽히는 강남! 모르면 손해보는 강남역, 신논현역 인근 주말 주차꿀팁 01.<br/>부티끄모나코 주차장
        02.부티끄모나코 주차장
    </div>
</div>

</body>
</html>