<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/postView.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
<nav>
    <div class="nav-upper-section">
        <button class="back-button">
            <img class="back-img" src="../assets/img/chevron_left.png">
        </button>
    </div>
</nav>
<div class="contenta-wrapper">
    <!--SINGLE ELEMENT-->
    <div class="content-element">
        <div class="content-preview">
            <div class="content-title">
                강남역 인근 <span class="search-text">주말 주차 장소</span> 추천
            </div>
            <div class="content-timestamp">자색호랑나비 09.15</div>
            <div class="content-text">
                서울에 차 끌고 가기 막막한 곳으로 손꼽히는 강남!
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
                모르면 손해보는 강남역, 신논현역 인근 주말 주차
            </div>
        </div>
        <div class="content-hashtag">#강남 #주차 #주말 #외출</div>
        <div class="content-reply">
            <i class="fa fa-clipboard-list"></i>&nbsp; 10
            <span class="bookmark"><i class="fa fa-bookmark"></i></span>
        </div>
        <div class="content-reply-list">
            <div class="content-reply-name">
                오방색고양이
            </div>
            <div class="content-reply-text">
                주말마다 강남역에 가는데 정말 유용하네요
            </div>
        </div>
        <div class="content-reply-write">
            <div class="content-reply-write-label">
                댓글 입력
            </div>
            <div class="content-reply-write-name">
                파란목도리도마뱀
            </div>
            <div class="content-reply-input">
                <textarea placeholder="댓글은 작성자에게 큰 힘 이 됩니다"></textarea>
            </div>
        </div>
    </div>

</div>

</body>
<script src="../assets/js/routeByButton.js"></script>
</html>