<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/search-only.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>

<div class="content-wrapper">

     <div class="content-reply-write">
            <div class="content-reply-input">
                  <div class="icon_search"><img src="../assets/img/search.png" style="width:20px">  <input type="search" class="search" placeholder="&nbsp; 검색"></div>

            </div>
        </div>
        <div class="content"></div>
</div>

</body>
</html>
