<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/setting.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
<nav>
    <div class="nav-upper-section">
        <img src="../assets/img/logo1.PNG">
        <div class="nav-upper-button-wrap">
            <button>홈</button>
            <button>글쓰기</button>
            <button>MY</button>
        </div>
    </div>
    <div class="nav-lower-section">
        <div class="nav-lower-button-wrap">
            <button>내 글</button>
            <button>저장한 글</button>
            <button>새소식</button>
            <button class="btn-selected">설정</button>
        </div>
    </div>
</nav>
<div class="content-wrapper">
</div>

</body>
<script type="text/javascript" rel="script" src="../assets/js/"></script>
</html>