<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/search-only.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/write.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>

<div class="content-wrapper">
    <div class="write">
        <button type="button" class="search-only">
            <i class="fa fa-chevron-left"></i>
            글쓰기
        </button>

    </div>
    <div class="write-wrapper">
            <div class="write-title">
                <textarea placeholder="제목" class="title"></textarea>

            </div>

            <div class="write-content">
            <textarea placeholder="본문" class="content"></textarea>
        </div>

        <div class="write-tag">
            <textarea placeholder="태그" class="tag"></textarea>
        </div>
        <button>게시하기</button>
    </div>

</div>

</body>
</html>