<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">

        <link rel="stylesheet" type="text/css" href="../assets/css/write.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
  <nav>
      <div class="nav-upper-section">
          <img src="../assets/img/logo1.PNG">
          <div class="nav-upper-button-wrap">
              <button class="write">
                  <img src="../assets/img/write.png">
              </button>
              <button>
                  <img src="../assets/img/user.png">
              </button>
          </div>
      </div>

  </nav>

<div class="content-wrapper">

    <div class="write-wrapper">
            <div class="write-title">
                <textarea placeholder="제목" class="title"></textarea>

            </div>

            <div class="write-content">
            <textarea placeholder="본문" class="content"></textarea>
        </div>

        <div class="write-tag">
            <textarea placeholder="태그" class="tag"></textarea>
        </div>
        <button class="submit">게시하기</button>
    </div>

</div>

</body>
</html>
