.wrapper{
  background-color: #4e90ff;
}

.user-img {
    margin: 100px 0 30px;
}

.join{
  color: #fff;
}

.join_button{
  box-shadow: 0 12px 30px 0 rgba(216, 77, 99, 0.2);
border: solid 2px #f3f7fe;
}
form{
   color: #999999;
}
.icon_id{
  margin-bottom: 40px;
}

.icon_pwd_ > img{
  position: absolute;
  left: 60px;
  top:160px;
}
.icon_pwd2_  > img{
  position: absolute;
  left: 60px;
  top:240px;
}

.login_button{
  background-color: transparent;
  margin: 30px auto 0;
  display:block;
  width: 180px;
  height: 60px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  border-radius: 69px;
  border: solid 2px #fff;
  color:#fff;
}
