.notice-title-section{
    background-color: #ffffff;
    margin-bottom: 2px;
    padding: 10px 20px;
}

.notice-title{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.notice-subtitle{
    padding: 5px 0;
    font-size: 12px;
    color: #808080;
    font-weight: 300;
}

.notice-content{
    padding: 20px;
    font-size: 16px;
    background-color: #fff;
    line-height: 1.7;
    color: #808080;
}
