<ul>
<%= @likes.each do |like| %>
    <% if current_user.id == like.user_id %>
      <%= @posts.each do |p| %>
        <% if p.id == like.id %>
      <li>
        <%=p.title%>
        <%=p.content%>
      </li>
    <% end %>
 <% end %>
</ul>
