<ul>
<% @bookmarks.each do |bookmark| %>
    <% if current_user.id == bookmark.user_id %>
      <% bookmark.posts.each do |p| %>
        <%=p.title%>
        <%=p.content%>
      </li>
      <% end %>
    <% end %>
 <% end %>
</ul>
