<h1>SETTING</h1>
<p>준비 중...</p>
<% if user_signed_in? %>
  <%= current_user.nickname %>
<% else %>
<%end%>
--------------------------------------
<% if user_signed_in? %>
  <p><%= current_user.id %></p>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <p>로그인 안 된 상태</p>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
